@using Codeer.LowCode.Blazor.OperatingModel
@inherits FluentFieldComponentBase<DateField, FluentDateFieldDesign>

<div class="d-flex align-items-center">
  <FluentDatePicker @bind-Value:get="@MoreThanValue" @bind-Value:set="@OnMoreThanChanged" data-search-target="min"/>
  <span>～</span>
  <FluentDatePicker @bind-Value:get="@LessThanValue" @bind-Value:set="@OnLessThanChanged" data-search-target="max"/>
</div>

@code {

  private DateTime? LessThanValue => Field.SearchMax.ToDateTimeNullable();
  private DateTime? MoreThanValue => Field.SearchMin.ToDateTimeNullable();

  private async Task OnLessThanChanged(DateTime? value) {
    await Field.SetSearchMaxAsync(value.ToDateOnlyNullable());
  }

  private async Task OnMoreThanChanged(DateTime? value) {
    await Field.SetSearchMinAsync(value.ToDateOnlyNullable());
  }

}